@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400&display=swap');

body {
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
    margin-top: 200px;
}

.center input[type="text"] {
    width: 400px;
    padding: 12px;
    border-radius: 24px;
    font-size: 16px;
    border: 2px solid #ddd;
}


.center input[type="submit"] {
    padding: 8px;
    margin: 20px;
    border-radius: 4px;
    border: none;
    background-color: #ddd;
}

.header {
    text-align: right;
    padding: 15px;
}

.header a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}


.advanced-search-title {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    margin-top: -35px;
}

.form-row {
    padding: 20px;
}

.form-row label {
    display: inline-block;
    width: 200px;
}

.form-row input[type="text"] {
    width: 500px;
    padding: 5px;
}

.button-row {
    padding: 20px;
}

.button-row input[type="submit"] {
    width: 715px;
    padding: 8px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
